{{#if this.shouldRender}}
    <div>
        {{#if this.hasDeadline}}
            <DButton
                style={{htmlSafe this.style}}
                @icon='calendar-alt'
                @class='deadline-button'
                @label='deadline.change_button.label'
                @title='deadline.change_button.title'
                @action={{action this.setDeadline}}
            >
                <div class='button-content'>{{this.deadlineFormatted}}</div>
            </DButton>
        {{else}}
            <DButton
                @icon='calendar-alt'
                @class='deadline-button'
                @label='deadline.set_button.label'
                @title='deadline.set_button.title'
                @action={{action this.setDeadline}}
            />
        {{/if}}
    </div>
{{/if}}