<DModal
    @bodyClass='change-timestamp'
    @closeModal={{@closeModal}}
    @flash={{this.flash}}
    @title={{i18n 'deadline.calendar.title'}}
>
    <:body>
        <p>
            {{i18n 'deadline.calendar.instructions'}}
        </p>
        <p class='alert alert-error {{unless this.validTimestamp "hidden"}}'>
            {{i18n 'deadline.calendar.invalid_date'}}
        </p>
        <form>
            <DatePicker
                @value={{readonly this.date}}
                @containerId='date-container'
                @onSelect={{action (mut this.date)}}
            />
        </form>
        <div id='date-container'></div>
    </:body>
    <:footer>
        <DButton
            class='btn-primary'
            @disabled={{this.buttonDisabled}}
            @action={{this.setDeadline}}
            @label={{if
                this.saving
                'deadline.calendar.saving'
                'deadline.calendar.action'
            }}
        />
        {{#if this.hasDeadline}}
            <DButton
                class='btn-danger'
                @action={{this.removeDeadline}}
                @label={{'deadline.calendar.cancel'}}
            />
        {{/if}}
    </:footer>
</DModal>